<html lang="en" xmlns:th="http://www.thymeleaf.org">
<style>
  body {
    background-image: url('');
  }
</style>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


</head>

<body>


  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Mr.Viewer</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Page 1</a></li>
        <li><a href="#">Page 2</a></li>
        <li><a href="#">Logout</a></li>
      </ul>
    </div>
  </nav>

  <br><br>

  <div class="container">
    <div class="well well-lg" style="text-align: center;">
      <h2><strong>ADD MOVIE</strong>
            <h2>
    </div>
    <form action="#" th:action="@{/addMovie}" th:object="${movie}" method="post" onsubmit="submitButton()">
      <div class="form-group">
        <br>
        <label for="email">movieName:</label>
        <input type="text" th:field="*{movieName}" class="form-control" id="email" placeholder="Enter movieName"
          name="movieName" pattern="[A-Za-z]{4,20}" title="Length of the Movie Name must be between 4-20" required>
      </div>
      <div class="form-group">
        <label for="pwd">movieUrl:</label>
        <input type="text" th:field="*{movieUrl}" class="form-control" id="pwd" placeholder="Enter movieUrl"
          name="movieUrl" required>
      </div>
      <div class="form-group">
        <label for="pwd">moviePostUrl:</label>
        <input type="text" th:field="*{moviePosterUrl}" class="form-control" id="pwd" placeholder="Enter moviePostUrl"
          name="moviePosterUrl" required>
      </div>
      <div class="form-group">
        <br>
        <label for="email">Duration:</label>
        <input type="number" th:field="*{duration}" class="form-control" id="email" placeholder="Enter Duration"
          name="Duration" pattern="[A-Za-z]{1}" title="Length should not exceed 1" required>
      </div>

      <div class="form-group">
        <br>
        <label for="email">Actors:</label>
        <input type="text" th:field="*{movieCast}" class="form-control" id="email" placeholder="Enter Actors Name"
          name="movieCast">
      </div>
      <!-- 
        <label for="cars">Choose actors:</label>
        <select style="width:100%" th:field="*{movieCast}" name="cars" id="cars" multiple>
          <option value="volvo">Volvo</option>
          <option value="saab">Saab</option>
          <option value="opel">Opel</option>
          <option value="audi">Audi</option>
             <option value="volvo">Volvo</option>
          <option value="saab">Saab</option>
          <option value="opel">Opel</option>
          <option value="audi">Audi</option>
        </select>  -->
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>

</body>
<script>
  function submitButton() {
    alert = ("Movie Successfully added!!");

    location.href = 'http://localhost/Moviesadded';
  }
</script>

</html>